/* REGOLE GENERALI */

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --my-blue: #1b72e8;
    --my-dark: #051e34;
    --my-light-color: #f7f7f7;
    --my-grey: #e5e5e5;
    --my-green: #198754;
    --my-yellow: #ffc107;
    --my-red: #dc3545;
}





/* REGOLE DEBUG */
.debug header {
    background-color: lightblue;
    border: 1 px dashed black;
    min-height: 200px;
}

.debug aside {
    background-color: lightcoral;
    border: 1 px dashed black;
}

.debug section {
    background-color: lightgreen;
    border: 1 px dashed black;
}