/* REGOLE GENERALI */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* INIZIO ALTEZZE */
.height {
    height: 100vh;
    overflow: hidden;
}

#header {
    height: 60px;
}


#main {
    height: calc(100vh - 60px);
}

.my-container {
    height: 100%;
}

#aside {
    height: 100%;
}

#aside .my-aside-container {
    height: 100%;
}

#section {
    height: 100%;
}

#section .my-section-container {
    height: 100%;
}

#section-header {
    height: 100px;
}

#section-main {
    height: calc(100% - 100px);
}
/* FINE ALTEZZE */

/* MY PADDING */
.my-padding-left {
    padding-left: calc(1.5rem * .5);
}

.my-padding-right {
    padding-right: calc(1.5rem * .5);
}

.my-padding-top {
    padding-top: calc(1.5rem * .5);
}

.my-padding-bottom {
    padding-bottom: calc(1.5rem * .5);
}

/* FINE MY PADDING */


/* COLORI */
:root {
    --my-blue: #1b72e8;
    --my-dark: #051e34;
    --my-light-color: #f7f7f7;
    --my-gray: #e5e5e5;
    --my-green: #198754;
    --my-yellow: #ffc107;
    --my-red: #dc3545;
    --my-dark-gray: #6c757d;
}

.my-text-dark-gray {
    color: var(--my-dark-gray);
}

.my-text-yellow {
    color: var(--my-yellow);
}


.my-bg-lightgray {
    background-color: var(--my-gray);
}


.my-border-gray {
    border-color: var(--my-dark-gray);
}

.my-color-gray {
    color: var(--my-dark-gray);
}

/* LABEL */
.my-label-green {
    display: inline-block;
    padding: 0.3rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
    border-radius: 0.5rem;
    color: var(--my-light-color);
    text-align: center;
    background-color: var(--my-green);
}

.my-label-red {
    display: inline-block;
    padding: 0.3rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
    border-radius: 0.5rem;
    color: var(--my-light-color);
    text-align: center;
    background-color: var(--my-red);
}

.my-label-yellow {
    display: inline-block;
    padding: 0.3rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
    border-radius: 0.5rem;
    color: var(--my-light-color);
    text-align: center;
    background-color: var(--my-yellow);
}

/* FINE LABEL */




/* REGOLE HEADER */
#header .nav-item:nth-child(4) > a::after {
    display: none;
}


/* REGOLE MAIN - ASIDE */
.my-a {
    display: inline-block;
}

.my-i {
    display: none;
}


/* REGOLE MAIN - SECTION */
#section {
    height: 100%;
    overflow-y: auto;

}

#section .img-avatar {
    width: 32px;
}


#section .img-stats {
    width: 100%;
}



/* REGOLE MEDIA QUERY */
/* ASIDE */
@media screen and (max-width: 992px) {
    #aside .my-a {
        display: none;
    }
    
    #aside .my-i {
        display: block;
        text-align: center;
    }

}







/* REGOLE DEBUG */
.debug #header {
    background-color: lightcoral;
    border: 1 px dashed black;
}


.debug #aside {
    background-color: lightblue;
}


.debug #aside .my-aside-container > * {
    background-color: plum;
    border: 1 px dashed black;
}

.debug #section {
    background-color: lightgrey;
}

.debug #section-header {
    background-color: lightseagreen;
    border: 1 px dashed black;
    width: 100%;
}

.debug #section .my-col-left {
    background-color: rgb(203, 203, 44);
    border: 1 px dashed black;
}

/* .debug #section .my-sub-col {
    background-color: orangered;
    border: 1 px dashed black;
} */

.debug #section .my-col-right {
    background-color: lightskyblue;
    border: 1 px dashed black;
}

