/* REGOLE GENERALI */

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --my-blue: #1b72e8;
    --my-dark: #051e34;
    --my-light-color: #f7f7f7;
    --my-grey: #e5e5e5;
    --my-green: #198754;
    --my-yellow: #ffc107;
    --my-red: #dc3545;
    --my-dark-gray: #6c757d;
}

.my-padding-left {
    padding-left: calc(1.5rem * .5);
}

.my-padding-right {
    padding-right: calc(1.5rem * .5);
}

.my-padding-top {
    padding-top: calc(1.5rem * .5);
}

.my-padding-bottom {
    padding-bottom: calc(1.5rem * .5);
}

.my-text-dark-gray {
    color: var(--my-dark-gray);
}

.my-text-yellow {
    color: var(--my-yellow);
}

.my-a {
    display: inline-block;
}

.my-i {
    display: none;
}





/* REGOLE HEADER */
/* #header {
    position: relative;
    top: 0;
    left: 0;
}

#main {
    margin-top: 50px;
} */

#header .nav-item:nth-child(4) > a::after {
    display: none;
}


/* REGOLE MAIN - ASIDE */
#aside {
    max-width: 150px;
    min-height: 100vh;
}

#aside .my-aside-container {
    max-width: 150px;
    min-height: 100vh;
}




/* REGOLE MEDIA QUERY */
/* ASIDE */
@media screen and (max-width: 992px) {
    #aside .my-aside-container {
        max-width: 50px;
    }

    #aside .my-a {
        display: none;
    }
    
    #aside .my-i {
        display: block;
        text-align: center;
    }

}


/* REGOLE DEBUG */
.debug header {
    background-color: lightcoral;
    border: 1 px dashed black;
}


.debug #aside .my-aside-container {
    background-color: lightblue;
}


.debug #aside .my-aside-container > * {
    background-color: plum;
    border: 1 px dashed black;
}

.debug section {
    background-color: lightgreen;
    border: 1 px dashed black;
}